pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

Arduino® Light Theme - Stefania Mellai <s.mellai@arduino.cc>

*/
.hljs {
  background: white;
  color: #434f54 !important
}
.hljs-subst {
  color: #434f54 !important
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name {
  color: #00979D !important
}
.hljs-built_in,
.hljs-literal,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #D35400 !important
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #00979D !important
}
.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #005C5F !important
}
.hljs-comment {
  color: rgba(149,165,166,.8) !important
}
.hljs-meta .hljs-keyword {
  color: #728E00 !important
}
.hljs-meta {
  color: #434f54 !important
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}
.hljs-function {
  color: #728E00 !important
}
.hljs-title,
.hljs-section {
  color: #880000 !important;
  font-weight: bold
}
.hljs-number {
  color: #8A7B52 !important
}