pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
    Theme: devibeans (dark)
    Author: @terminaldweller
    Maintainer: @terminaldweller

    Inspired by vim's jellybeans theme (https://github.com/nanotech/jellybeans.vim)
*/
.hljs {
  background: #000000 !important;
  color: #a39e9b !important
}
.hljs-attr,
.hljs-template-tag {
  color: #8787d7 !important
}
.hljs-comment,
.hljs-doctag,
.hljs-quote {
  color: #339966 !important
}
.hljs-params {
  color: #a39e9b !important
}
.hljs-regexp {
  color: #d700ff !important
}
.hljs-tag,
.hljs-selector-id,
.hljs-number,
.hljs-literal {
  color: #ef5350 !important
}
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #0087ff !important
}
/* opt-out */
.hljs-operator,
.hljs-punctuation {
  
}
.hljs-selector-class,
.hljs-code,
.hljs-formula,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link,
.hljs-keyword {
  color: #64b5f6 !important
}
.hljs-built_in,
.hljs-title,
.hljs-deletion {
  color: #ff8700 !important
}
.hljs-type,
.hljs-section,
.hljs-function,
.hljs-name,
.hljs-property,
.hljs-attribute {
  color: #ffd75f !important
}
.hljs-meta .hljs-string,
.hljs-string,
.hljs-subst,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #558b2f !important
}
.hljs-selector-tag {
  color: #9966ff !important
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}