pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/
.hljs {
  color: #000 !important;
  background: #f8f8ff !important
}
.hljs-comment,
.hljs-quote {
  color: #408080 !important;
  font-style: italic
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-subst {
  color: #954121 !important
}
.hljs-number {
  color: #40a070 !important
}
.hljs-string,
.hljs-doctag {
  color: #219161 !important
}
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #19469d !important
}
.hljs-params {
  color: #00f !important
}
.hljs-title {
  color: #458 !important;
  font-weight: bold
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080 !important;
  font-weight: normal
}
.hljs-variable,
.hljs-template-variable {
  color: #008080 !important
}
.hljs-regexp,
.hljs-link {
  color: #b68 !important
}
.hljs-symbol,
.hljs-bullet {
  color: #990073 !important
}
.hljs-built_in {
  color: #0086b3 !important
}
.hljs-meta {
  color: #999 !important;
  font-weight: bold
}
.hljs-deletion {
  background: #fdd !important
}
.hljs-addition {
  background: #dfd !important
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}