pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

Google Code style (c) Aahan Krish <geekpanth3r@gmail.com>

*/
.hljs {
  background: white;
  color: black !important
}
.hljs-comment,
.hljs-quote {
  color: #800 !important
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-title,
.hljs-name {
  color: #008 !important
}
.hljs-variable,
.hljs-template-variable {
  color: #660 !important
}
.hljs-string,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-regexp {
  color: #080 !important
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-meta,
.hljs-number,
.hljs-link {
  color: #066 !important
}
.hljs-title,
.hljs-doctag,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-params {
  color: #606 !important
}
.hljs-attribute,
.hljs-subst {
  color: #000 !important
}
.hljs-formula {
  background-color: #eee !important;
  font-style: italic
}
.hljs-selector-id,
.hljs-selector-class {
  color: #9B703F !important
}
.hljs-addition {
  background-color: #baeeba !important
}
.hljs-deletion {
  background-color: #ffc8bd !important
}
.hljs-doctag,
.hljs-strong {
  font-weight: bold
}
.hljs-emphasis {
  font-style: italic
}