pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs {
  color: #000 !important;
  background: #fff !important
}
.hljs-subst,
.hljs-title {
  font-weight: normal;
  color: #000 !important
}
.hljs-comment,
.hljs-quote {
  color: #808080 !important;
  font-style: italic
}
.hljs-meta {
  color: #808000 !important
}
.hljs-tag {
  background: #efefef !important
}
.hljs-section,
.hljs-name,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag,
.hljs-type,
.hljs-selector-id,
.hljs-selector-class {
  font-weight: bold;
  color: #000080 !important
}
.hljs-attribute,
.hljs-number,
.hljs-regexp,
.hljs-link {
  font-weight: bold;
  color: #0000ff !important
}
.hljs-number,
.hljs-regexp,
.hljs-link {
  font-weight: normal
}
.hljs-string {
  color: #008000 !important;
  font-weight: bold
}
.hljs-symbol,
.hljs-bullet,
.hljs-formula {
  color: #000 !important;
  background: #d0eded !important;
  font-style: italic
}
.hljs-doctag {
  text-decoration: underline
}
.hljs-variable,
.hljs-template-variable {
  color: #660e7a !important
}
.hljs-addition {
  background: #baeeba !important
}
.hljs-deletion {
  background: #ffc8bd !important
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}