pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

ISBL Editor style light color schemec (c) Dmitriy Tarasov <dimatar@gmail.com>

*/
.hljs {
  background: white;
  color: black !important
}
/* Base color: saturation 0; */
.hljs-subst {
  color: black !important
}
.hljs-comment {
  color: #555555 !important;
  font-style: italic
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-name {
  color: #000000 !important;
  font-weight: bold
}
/* User color: hue !important: 0 */
.hljs-string {
  color: #000080 !important
}
.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #000000 !important
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #5e1700 !important
}
/* Language color: hue !important: 90; */
.hljs-built_in,
.hljs-literal {
  color: #000080 !important;
  font-weight: bold
}
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300 !important
}
.hljs-class {
  color: #6f1C00 !important;
  font-weight: bold
}
.hljs-title,
.hljs-section {
  color: #fb2c00 !important
}
.hljs-title>.hljs-built_in {
  color: #008080 !important;
  font-weight: normal
}
/* Meta color: hue !important: 200 */
.hljs-meta {
  color: #1f7199 !important
}
.hljs-meta .hljs-string {
  color: #4d99bf !important
}
/* Misc effects */
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}