pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/
.hljs {
  background: #fff !important;
  color: black !important
}
/* Gray DOCTYPE selectors like WebKit */
.xml .hljs-meta {
  color: #c0c0c0 !important
}
.hljs-comment,
.hljs-quote {
  color: #007400 !important
}
.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #aa0d91 !important
}
.hljs-variable,
.hljs-template-variable {
  color: #3F6E74 !important
}
.hljs-code,
.hljs-string,
.hljs-meta .hljs-string {
  color: #c41a16 !important
}
.hljs-regexp,
.hljs-link {
  color: #0E0EFF !important
}
.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #1c00cf !important
}
.hljs-section,
.hljs-meta {
  color: #643820 !important
}
.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-type,
.hljs-built_in,
.hljs-params {
  color: #5c2699 !important
}
.hljs-attr {
  color: #836C28 !important
}
.hljs-subst {
  color: #000 !important
}
.hljs-formula {
  background-color: #eee !important;
  font-style: italic
}
.hljs-addition {
  background-color: #baeeba !important
}
.hljs-deletion {
  background-color: #ffc8bd !important
}
.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f !important
}
.hljs-doctag,
.hljs-strong {
  font-weight: bold
}
.hljs-emphasis {
  font-style: italic
}